section.goodbye
  .modal-dialog.modal-lg
    .modal-content.modal-center.modal-hublin
      .modal-header
        h2!=__j('Thank you for using %s', 'span.hublin-logo #[span.logo-hublin Hubl]#[span.gray-lighter .in] #[span.beta-overlay Beta]')
      .modal-body.text-center
        goodbye-page-reminders
        p
          span #{__('Did you enjoy the experience? Spread the word!')}
          include ../../commons/socialshare
          
        p 
          div(ng-controller='displaySummaryController')
            button.btn.btn-lg.btn-primary(type='button', ng-show="showKeywords === false")
              img(src="images/loading_spinner.gif", ng-show="showKeywords === false", height=30, width=30)
              | #{__('Processing audio...')}
            #accordion.panel-group(role='tablist', aria-multiselectable='true', ng-show="showKeywords === true")
              .panel.panel-default
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', 
                    href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      | Show Summary & Keywords
                #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                  .panel-body
                    .list-group
                      .list-group-item-info
                        strong Keywords
                        br
                        {{keyStr}}
                      .list-group-item-success
                        strong  Summary
                        br
                        {{summaryKeywords.text}}
        p
          button.btn.btn-lg.btn-primary(type='button', ng-click='reopen()') #{__('Reopen the room')}
        p
          span #{__('or create a new one')}
          conference-create-form
      .modal-footer
        include ../../commons/whatis
